@media only screen and (max-width : 600px){
  #outputcanvas{
    width: 100%;
    height: 100%;
  }
}
body {
  font-family: "Avenir";
  padding-top: 5rem;
}
.main_body {
  text-align: center;
}

.button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: none;
  border-radius: 5px;
  border: 1px solid grey;
}

.dangers {
  padding: 5px;
  outline: 5px solid red;
  background-color: white;
  text-align: justify;
  display: none;
}
